<footer>
    <nav class="navegacion2">
        <ul class="menu2">
            <li><a href="">Quines somos</a></li>
            <li><a href="">Contacto</a></li>
            <li><a href="">Trabaja con nosotros</a></li>
            <li><a href="">Aviso legal</a></li>
        </ul>
    </nav>
    <img class="redes" src="assets/facebook.png" alt="facebook" width="55px">
    <img class="redes" src="assets/instagram.png" alt="instagram" width="50px">
    <img class="redes" src="assets/twitter.webp" alt="Twitter" width="50px">
    <img class="redes" src="assets/what.webp" alt="what" width="50px">

    <p class="copi">©Strong Gym 2022</p>
</footer>
