<header>
  <div id="box">

    <header>
      <div>

        <div>

          <div>
              <img class="mujer" src="assets/mujer.png" alt="mujer">
              <img class="cabe1" src="assets/gym.png" alt="logo">
              <img class="deport" src="assets/hombre.png" alt="deport">
          </div>


            <h1 class="cabe">STRONG GYM Tu tienda de deporte</h1>

            <h2 class="cabe3"></h2>



        </div>



       <nav class="navegacion">

           <img class="imp" src="assets/usuario.png" alt="usuario" width="35px" style="color: azure;">
           <img class="imp" src="assets/cesta.png" alt="cesta compra" width="35px">

           <form>
               <button class="imp" type="submit">Buscar</button>
               <input class="imp" type="text" name="buscar" placeholder="Buscar y pulse enter">

           </form>
           <ul class="menu">
               <li><a href="#">Inicio</a></li>
               <li><a href="#">Sevicios</a>
                   <ul class="submenu">
                       <li><a href="#">Entrenamiento</a></li>
                       <li><a href="#">Personal trainer</a></li>
                       <li><a href="#">Nutricion</a></li>
                   </ul>
               </li>
               <li><a href="">Marcas</a>
                   <ul class="submenu">
                       <li><a href="a">AMIX</a></li>
                       <li><a href="d">VICTORY ENDURANCE</a></li>
                       <li><a href="d">INFISPORT</a></li>
                       <li><a href="d">WEIDER</a></li>
                   </ul>
               </li>
               <li><a href="">Productos Alimentación complementarios</a>
                   <ul class="submenu">
                       <li><a href="#">Proteínas</a></li>
                       <li><a href="#">Carboidratos</a></li>
                       <li><a href="v">Barritas</a></li>
                       <li><a href="#">Sin Gluten</a></li>

                   </ul>
               </li>
               <li><a href="">Productos de Ciclismo</a>
                   <ul class="submenu">
                       <li><a href="#">Cantimploras</a></li>
                       <li><a href="#">Llantas de bici</a></li>
                       <li><a href="#">Sillines</a></li>
                       <li><a href="#">luces para montan bike</a></li>

                   </ul>
               </li>
               <li><a href="">Productos Montaña</a>
                   <ul class="submenu">
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                       <li><a href="#"></a></li>
                   </ul>
               </li>

               <li><a href="">Productos de Natación</a>
                   <ul class="submenu">
                       <li><a href="#">Gafas de natación</a></li>
                       <li><a href="#">Bañadores</a></li>
                       <li><a href="#">gorros piscina</a></li>
                       <li><a href="#">Toallas y albornoces</a></li>
                   </ul>
               </li>
           </ul>
       </nav>

